# general:

# Para usar varios countries usar: ar,ms
country := ar,ms
max_count := 20
log_dir := ../log/
region := ar,ms

# cesar

example_image := /home/arauto5.jpg
config_file := ../config/openalpr.defaults.conf
runtime_dir := ../runtime_data

# emi

# example_image := /home/gbq666.jpg
# config_file := /usr/share/openalpr/config/openalpr.defaults.conf
# runtime_dir := /home/mko_alpr/runtime_data

# nano

# example_image := /home/frame_9.jpg
# config_file := /usr/share/openalpr/config/openalpr.defaults.conf
# runtime_dir := /usr/share/openalpr/runtime_data

# database

database_driver := QSQLITE
database_uri := ../database/mko_alpr.sqlite
login_query := select case when count(*) > 0 then adm.id else 0 end as login from admins adm where adm.user = :user and adm.password = :password;
session_query := insert into sessions (start, admin_id) values (datetime('now', 'localtime'), :adminId);
plate_detection_query := insert into plate_detections (session_id) values (:sessionId);
candidate_query := insert into candidates (domain, matches, confidence, plate_detection_id) values (:d, :m, :c, :pdid);
log_query := insert into logs(time, message, level_id) values (datetime('now', 'localtime'), :m, :l);
